#popup{
            z-index:10;
            box-sizing:'border-box';
            position:'fixed';
            width:'100vw';
            height:'100vh';
            background-color:'rgba(0,0,0,0.5)';
            display:'flex';
            justify-content:'right';
        }
        
        .popup{
            
            z-index:10;
            box-sizing:'border-box';
            position:'fixed';
            width:'100vw';
            height:'100vh';
            background-color:'rgba(0,0,0,0.5)';
            display:'flex';
            justify-content:'right';
}

/* zIndex:10,
            boxSizing:'border-box', 
            position:'fixed',
            width:'100vw', 
            height:'100vh',
            bgcolor:'rgba(0,0,0,0.5)',
            display:'flex',
            justifyContent:'right', */